@import url('https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script:wght@600&display=swap');

html,body{
  font-family: 'Allison', cursive;
  font-family: 'Dancing Script', cursive;
}
main{
  display:grid;
  place-content: center;
  place-items: center;
}
.red{
color:red
}
.green{
  color:green
}


table, th,tr {
  border-bottom: 1px solid #fff;
  border-collapse: collapse;
}
thead{
  border-bottom:1px solid #fff
}
section{
  width: 98vw;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: scroll;
}
section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
section {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body{
  overflow-x: hidden;
}
header{
  text-align: center;
  background-color: #000;
  color: #fff;
  width: 100vw;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0,1);
}

h4{
  text-align:center;
}

.w-200{
width:200px;
}
table{
  border-radius: 4px;
  padding: 10px;
  background-color:#000;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
}

input{
  margin-bottom:10px;
  border-radius: 5px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.m-0{
margin: 0;
}

.shadow{
  text-shadow: 0px 0px 10px rgba(0, 0, 0,1);

}